<div class="col-md-6 ">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 speaker_node d-flex flex-column position-static">
      <h3 class="mb-0 talk_title">
        <a href="{{k.video_link}}" target="_blank">{{k.title}}</a>
        </h3>
      <div class="mb-1 text-muted speaker">
        <a href="{{k.social}}">{{k.name}}</a>
      </div>
      <span class="as_seen_at">
        <a href="{{k.conf_link}}">as seen at {{k.conf}}</a>
      </span>
    </div>
    <div class="col-auto d-lg-block profile_picture">
      <a href="{{k.social}}"><img src="img/avatar/{{k.avatar}}" class="avatar"></a>
    </div>
  </div>
</div>
